.formScheduler{
    margin:0 auto 0 auto;
    width: 40%;
    height: 50vh;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    justify-content: center;
    background: #5dbdf5;
    display: grid;
}

input[type=text]{
    border-radius: 20px;
    border:none;
    outline: none;
}

input[type=time]{
    border-radius: 20px;
    border:none;
    outline: none;
}

input[type=date]{
    border-radius: 20px;
    border:none;
    outline: none;
}

label{
    color:white;
    text-align: center;
}