.PlannerAndRolesComponent {
    display: grid;
    justify-content: center;
}

.grid-container-planner{
    height: 68vh;
    width: 60vw;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);

    gap: 4px;
}

.outcomeWhyHow{
    margin:0 auto 0 auto;
    width: 80%;
    height: 50vh;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    justify-content: center;
    background: #5dbdf5;
    display: grid;
}

.marginLeft{
    margin-left:17%;
}

#buttonSubmit{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: grid;
    align-content: center;
    border: none;
    transition: all 0.4s ease 0s;
    width: 200px;
    height: 20px;
    margin-top: 10%;
    background: #434343;
}

#buttonSubmit:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#outcomeButton{
    padding-right: 30%;
    margin-right: 5%;
    text-align: left;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: grid;
    align-content: center;
    border: none;
    transition: all 0.4s ease 0s;
    width: 100px;
    height: 20px;
    margin-left: 0;
    margin-top: 10%;
    background: #434343;
}

#outcomeButton:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#whyButton{
    margin-right: 5%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: grid;
    align-content: center;
    border: none;
    transition: all 0.4s ease 0s;
    width: 100px;
    height: 20px;
    margin-left: 0;
    margin-top: 10%;
    background: #434343;
}

#whyButton:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#howButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: grid;
    align-content: center;
    border: none;
    transition: all 0.4s ease 0s;
    width: 100px;
    height: 20px;
    margin-left: 0;
    margin-top: 10%;
    background: #434343;
}

#howButton:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.buttonWrapper{
    display:flex;
}

.rolesForm{
    margin-left: 5%;
    width: 40%;
    height: 50vh;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    justify-content: center;
    background: #5dbdf5;
    display: grid;
}